*{
    margin:0;
    padding: 0;
}
body{
    background: url("https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa4d8be2e8c992c37b042_horizontal%20(34).svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width:55%;
    height:500px;
    background-color: white;
    border-radius:20px;
    display:grid;
    grid-template-columns: 50% 50%;
    margin:160px auto;
    
}
.image img{
    width:95%;
    height:75%;
    position:relative;
    right:40px;
    top:50px;
}
.questions{
    /* border:1px solid black; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 60px;
}
.faq{
    margin-top: 60px;
    margin-bottom: 40px;
}
.q{
    font-weight: normal;
    border-bottom: 1px solid lightgrey;
    padding-bottom:20px ;
    width:72%;
    font-size: 14px;
}
.q i{
    color:rgb(255, 111, 0);
    font-weight: 700;
}